<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-md-6 offset-md-3">
              <h3>Login Page</h3>
              <form name="loginForm" (ngSubmit)="f.form.valid && submitForm(f)" #f="ngForm" novalidate>
                  <div class="form-group">
                      <label for="firstName">User Name</label>
                      <input type="text" class="form-control" name="userName" [(ngModel)]="login.userName" #userName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && userName.invalid }" required />
                      <div *ngIf="f.submitted && userName.invalid" class="invalid-feedback">
                          <div *ngIf="userName.errors.required">First Name is required</div>
                      </div>
                  </div>
                  
                  
                  <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password" class="form-control" name="password" [(ngModel)]="login.password" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="3" />
                      <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                          <div *ngIf="password.errors.required">Password is required</div>
                          <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <button class="btn btn-primary">Register</button>
                  </div>
                  <div *ngIf="invalidLogin" class="form-group alert alert-danger">
                    <div>Invalid credentials.</div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
